input[type="radio"] + label span {
  transition: background 0.2s, transform 0.2s;
  background-color: #e5e7eb;
  border-color: #e5e7eb;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
  transform: scale(1.2);
  background-color: grey;
  border-color: grey;
}

input[type="radio"]:checked + label span {
  background-color: #eb4899;
  box-shadow: 0px 0px 0px 2px #eb4899 inset;
}

input[type="radio"]:checked + label {
  color: black;
}

/* styling the format of the datepicker container */
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  height: 45px;
}
/* styling the dates' colors  */
.react-datepicker__time-list-item--selected,
.react-datepicker__day--selected {
  background-color: #eb4899 !important;
}
